/* style.css */

@import url('https://fonts.googleapis.com/css?family=Heebo|Rajdhani|Work+Sans:700');


/* ------------------- */
/* General grid layout */
/* ------------------- */

main#imagesection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
        "left middle right";
}

#left {
    grid-area: left;
}

#middle {
    grid-area: middle;
}

#right {
    grid-area: right;
}

footer {
    display: grid;
    grid-template-columns: 1fr;


    grid-gap: 15px;
    grid-template-areas:
        "c1 c2 c3 c4 c5 c6 c7 c8 c9 c10 c11 c12 c13";




}

#bt1,
#bt7,
#bt8,
#bt2,
#bt3,
#bt4,
#bt5,
#bt6,
#bt7,
#bt8,
#bt9,
#bt10,
#bt11,
#bt12,
#bt13 {
    width: 100%;
    background-color: coral;
}

#c1 {
    grid-area: c1;
}

#c2 {
    grid-area: c2;
}

#c3 {
    grid-area: c3;
}

#c4 {
    grid-area: c4;
}

#c5 {
    grid-area: c5;
}

#c6 {
    grid-area: c6;
}

#c7 {
    grid-area: c7;
}

#c8 {
    grid-area: c8;
}

#c9 {
    grid-area: c9;
}

#c10 {
    grid-area: c10;
}

#c11 {
    grid-area: c11;
}

#c12 {
    grid-area: c12;
}

#c13 {
    grid-area: c13;
}









/* ----------------- */
/* header and footer */
/* ----------------- */

header {
    text-align: center;
}

header > h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}

header > h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;

}

/* -------------- */
/* General styles */
/* -------------- */

p,
form,
a,
ul,
li,
.notes {
    font-family: 'Heebo', sans-serif;
    background-color: floralwhite;
}

a {
    font-size: .6em;
}

#ref p,
a {
    background-color: antiquewhite;
    color: darkslategrey;
}

#ref a {
    font-size: 1em;
}

ul {
    line-height: 2em;
}

.notes {
    width: 50%;
    margin: 0 auto;
}
