/**OVERALL GRID**/

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 450px 80px 8fr 150px;
    grid-template-areas:
        'image image image'
        'menu menu menu'
        'left wrapper right'
        'footer footer footer';

    padding: 40px;

}

.image {
    background-image: url(images/copacabanareverso.jpg);
    display: grid;
    grid-area: image;
    background-repeat: repeat;
    background-position: top;
    background-size: cover;
    position: relative;

}


.menu {
    grid-area: menu;
    position: relative;



}



.left {
    grid-area: left;
}

.right {
    grid-area: right;
}



.footer {
    grid-area: footer;
    background-image: url(images/copacabanaversao2.jpg);
    background-position: bottom;
    background-size: cover;
}


/**end grid**/

/**menu **/

.topnav {
    overflow: hidden;
    background-color: ghostwhite;
    justify-content: space-around;
    display:flex;
    position: relative;






}

.topnav a {
    color: dimgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    margin: 0px;
    font-family: 'Libre Barcode 39 Text', cursive;
    position: relative;


}

.topnav a:hover {
    color: forestgreen;
}





@media screen and (max-width: 600px) {


    .topnav a {
        font-family: 'Fira Mono', monospace;
        font-size: 20px;
        text-align: left;


    }
    .topnav {
        flex-direction: column;


    }
}

/**end menu**/

body {
    height: 100%;
    padding: 0px;
    padding-top: 0px;
    background-color: whitesmoke;
    margin: 0px;

}

main {
    padding: 0px;
}

/** text styles**/

.title {
    display: block;
    padding: 10px;
    font-family: 'Fira Mono', monospace;
    font-size: 20px;


}

.subtitle {
    display: block;
    padding: 10px;
    font-family: 'Fira Mono', monospace;
    font-size: 15px;
}

.wrapper {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    padding: 0px;
    margin-top: 5px;



}


p {
    display: block;
    font-family: 'Fira Mono', monospace;
    font-size: 12px;
    text-align: justify;
}

.onhover {
    font-size: 25px;
    color: blue;
}

/* remove decoration/underline for all a href elements, links*/
a {
    color: inherit;
    text-decoration: inherit;
}

.mini {

    display: block;
    object-fit: cover;
    opacity: 1;
    height: 200px;
    width: 280px;
    border-radius: 10px;
    transition: .7s ease;
    backface-visibility: hidden;
}

.box {

    height: 300px;
    width: 280px;

}


.box:hover .mini {

    opacity: 0.1;

}







.onhover {
    visibility: hidden;
    position: absolute;
    padding: 20px;
    text-align: justify;





}


.box:hover .onhover {
    visibility: visible;
    opacity: 1;






}


/** social media bar**/
.somebar {
    position: fixed;
    margin: 0px;
    top: 50%;
    left: 0px;
}

.somebar a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 30px;

}

.somebar a:hover {
    background-color: black;
}

.linkedin {
    background-color: #007bb5;

}

.github {
    background-color: darkgreen;
    font-size: 24px;
}

/** responsive solutions **/

@media screen and (max-width: 600px) {
    .somebar {

        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        top: inherit;
        display: inline-flex;
        opacity: 0.8;


    }
}


@media screen and (max-width: 600px) {
    .container {
        padding: 0px;

    }

    .onhover {
        padding: 0px;
    }

    .title {
        padding: 0px;

    }

    .image {

        background-repeat: no-repeat;
        background-size: cover;

    }

    .wrapper {
        grid-template-columns: 1fr;

        grid-gap: 10px;
    }

    .box {
        height: auto;
    }
    p {
        font-size: 15px;
    }

}


/* index page */

.toptext {

    font-family: 'Fira Mono', monospace;
    background-color: white;
    position: absolute;
    font-size: 25px;
    top: 20%;
    left: 25%;
}

.toptext1 {
    position: absolute;
    font-family: 'Fira Mono', monospace;
    background-color: white;
    font-size: 25px;
    top: 25%;
    left: 30%;
}

.toptext2 {
    position: absolute;
    font-family: 'Fira Mono', monospace;
    background-color: white;
    font-size: 25px;
    top: 30%;
    left: 35%;
}

