body {
    padding: 80px;
    background-color: whitesmoke;

}
.wrapper {

margin: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}


.box {

    height: 200px;
    width: 280px;
    margin: 0px;
}

.mini {

    width: 100%;
    height: 100%;
    object-fit:cover;

}

.box:hover .mini {
    opacity: 0.3;


}

.box:hover {
    background-color: black;
}

p {
    object-fit: contain;
}

.onhover {
    visibility: hidden;
}


.box:hover .onhover {
    visibility:visible;
    opacity: 1;

}
.title {

    font-size: 30px;
    margin: 50px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-area: "title" "subtitle";

}
.subtitle {
    text-align: left;

}

/** social media bar**/
.somebar {
    position: fixed;
    margin: 0px;
    top: 50%;
    left: 0px;
}

.somebar a {
    display: block;
    padding: 15px;
    color: white;
    font-size: 25px;

}

.somebar a:hover {
    background-color: black;
}
.linkedin {
    background-color: #007bb5;

}
.github {
    background-color: darkgreen;
    font-size: 24px;
}

/** responsive solutions **/

@media screen and (max-width: 600px) {
    .somebar {

       overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        top: inherit;
        display:inline-flex;
        opacity: 0.8;


    }


    .wrapper {
        grid-template-columns: 1fr;

    }




}

@media screen and (min-width: 600px){

    .body {
        margin: 180px;

    }

}
