body {
    padding: 80px;
    background-color: whitesmoke;

}


/**OVERALL GRID**/

.container {
display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 8fr 1fr;
    grid-template-areas:
        'hero-image hero-image hero-image'
        'menu menu menu'
        'left wrapper right'
        'footer footer footer';


}

.hero-image {
    background-image: url(images/desktop-scene.jpg);
    display: grid;
    grid-area: hero-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;



}
.menu {
    grid-area: menu;

}



.left {
    grid-area: left;
}

.right {
    grid-area: right;
}



.footer {
    grid-area: footer;
}


/**end grid**/

body {
    height: 100%;
    padding: 50px;
    background-color: whitesmoke;

}

/** text styles**/

.title {
    display: inline-block;
    margin: 30px;
    font-weight: bold;


}

.subtitle {
    display: inline-block;
    margin-left: 10px;
}

.wrapper {


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-row-gap: 10px;
    grid-column-gap: 30px;
    padding: 0;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;


}


.textinfo {
        display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.mini {

    display: block;
    object-fit:cover;
    opacity: 1;
    height: 200px;
    width: 280px;
    border-radius: 10px;
    transition: .7s ease;
    backface-visibility: hidden;
}
.box {
    display: block;
    height: 300px;
    width: 280px;

}


.box:hover .mini{

    opacity: 0.3;

}



.p {

        display: block;

}



.onhover {
    visibility: hidden;
    position: absolute;
    padding: 30px;
    text-align: justify;




}


.box:hover .onhover {
    visibility:visible;
    opacity: 1;






}


/** social media bar**/
.somebar {
    position: fixed;
    margin: 0px;
    top: 50%;
    left: 0px;
}

.somebar a {
    display: block;
    padding: 15px;
    color: white;
    font-size: 25px;

}

.somebar a:hover {
    background-color: black;
}
.linkedin {
    background-color: #007bb5;

}
.github {
    background-color: darkgreen;
    font-size: 24px;
}

/** responsive solutions **/

@media screen and (max-width: 600px) {
    .somebar {

       overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        top: inherit;
        display:inline-flex;
        opacity: 0.8;


    }
}

@media screen and (max-width: 600px){

    .body {
        margin: 5px;

    }

    .title {

        display: block;
    }
    .subtitle {
        display: block;
    }

}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
